<div class="panel panel-default" id="general" style="display: block;" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        <h3 class="panel-title">Please, select days per week you are available</h3>
    </div>
    <div class="panel-body">

        <!-- Objectives List -->
        <div id="objectiveList" class="bs-example" data-example-id="simple-list-group" >
            <ul class="list-group">
                {{#each objectives}}
                    <a class="list-group-item" onclick="showSpecificData({{@index}});">{{daysWeek}} days</a>
                {{/each}}
            </ul>
        </div>

        <!--Back button-->
    </br><p><a class="btn btn-primary" href="/home" role="button">Back</a></p>
    </div>
</div>

<div class="panel panel-default" id="specific" style="display: none;">
    <div class="panel-heading">
        <h3 class="panel-title">Select one option</h3>
    </div>
    <div class="panel-body">

        <div id="spOne" class="bs-example" data-example-id="simple-list-group" style="display: none;">
            {{#each oneDay}}
                <a href="/trainingSetup/setProgramOptions/{{id}}/1" class="list-group-item">{{name}}</a>
            {{/each}}
        </div>

        <div id="spTwo" class="bs-example" data-example-id="simple-list-group" style="display: none;">
            {{#each twoDays}}
                <a href="/trainingSetup/setProgramOptions/{{id}}/1" class="list-group-item">{{name}}</a>
            {{/each}}
        </div>

        <div id="spThree" class="bs-example" data-example-id="simple-list-group" style="display: none;">
            {{#each threeDays}}
                <a href="/trainingSetup/setProgramOptions/{{id}}/1" class="list-group-item">{{name}}</a>
            {{/each}}
        </div>

        <div id="spFour" class="bs-example" data-example-id="simple-list-group" style="display: none;">
            {{#each fourDays}}
                <a href="/trainingSetup/setProgramOptions/{{id}}/1" class="list-group-item">{{name}}</a>
            {{/each}}
        </div>

        <div id="spFive" class="bs-example" data-example-id="simple-list-group" style="display: none;">
            {{#each fiveDays}}
                <a href="/trainingSetup/setProgramOptions/{{id}}/1" class="list-group-item">{{name}}</a>
            {{/each}}
        </div>

        <div id="spSix" class="bs-example" data-example-id="simple-list-group" style="display: none;">
            {{#each sixDays}}
                <a href="/trainingSetup/setProgramOptions/{{id}}/1" class="list-group-item">{{name}}</a>
            {{/each}}
        </div>

        <!--Back button-->
        </br><p><a class="btn btn-primary" onclick="goBack();" role="button">Back</a></p>
    </div>
</div>

<script>
    var divGeneral = document.getElementById('general');
    var divSpecific = document.getElementById('specific');
    var divSpecific2 = divSpecific2 = document.getElementById('spOne');

    function showSpecificData(index) {
        switch(index) {
            case 0:
                setDiv('spOne');
                break;
            case 1:
                setDiv('spTwo');
                break;
            case 2:
                setDiv('spThree');
                break;
            case 3:
                setDiv('spFour');
                break;
            case 4:
                setDiv('spFive');
                break;
            case 5:
                setDiv('spSix');
                break;
            default:
                // Do nothing.
        }
        divGeneral.style.display = 'none';
        divSpecific.style.display = 'block';
    }

    function setDiv(a) {
        divSpecific2.style.display = 'none';
        divSpecific2 = document.getElementById(a);
        divSpecific2.style.display = 'block';
    }

    function goBack() {
        divGeneral.style.display = 'block';
        divSpecific.style.display = 'none';
        divSpecific2.style.display = 'none';
    }
</script>