<div class="panel panel-default" id="general" style="display: block;" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        <h3 class="panel-title">{{question.value}}</h3>
    </div>
    <div class="panel-body">
        <!-- specifict options list -->
        <div id="objectiveList" class="bs-example" data-example-id="simple-list-group" >
            <a>Question ID: {{question.questionId}}</a>
            <ul class="list-group">
                {{#each question.option}}
                    <a href='/trainingSetup/setSpecificOptions/{{../question.questionId}}/{{id}}' class="list-group-item">{{name}}</a>
                {{/each}}
            </ul>
        </div>

        <!--Back button-->
    </br><p><a class="btn btn-primary" href="/home" role="button">Back</a></p>
    </div>
</div>